@charset "utf-8";
/* 최근게시물 스킨 (latest) */
.idx_notice {position:relative;border-bottom:1px solid #ddd}
.idx_notice ul {margin:5px 0;padding:0;list-style:none}
.idx_notice ul li{line-height:25px;position:relative;padding-right:50px}
.idx_notice .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold;color:#993355}
.idx_notice .li_date{position:absolute;top:0;right:0;font-size:0.92em;color:#949494}
.idx_notice .lt_tit{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display:block}
.idx_notice .empty_lt{padding:30px 0;padding-right:0;text-align:center;color:#999}