@charset "utf-8";
.lt_gal{border-left:1px solid #ddd;border-right:1px solid #ddd;}
.lt_gal:after{display:block;visibility:hidden;clear:both;content:""}
.lt_gal li{border-bottom:1px solid #ddd;width:50%;float:left;transition: all 0.3s ease;}
.lt_gal li:after {display:block;visibility:hidden;clear:both;content:""} 
.lt_gal li .lt_txt{;width:50%;float:left;position:relative;padding-top: 50%;text-align:center}
.lt_gal li .txt_wr{position: absolute;top: 0px;right: 0px;bottom: 0px;left: 0px;width: 100%;height: 100%;}
.lt_gal li .txt_wr_inner{display:inline-block;vertical-align:middle;padding:10px;max-width:230px}
.lt_gal li .txt_wr:after{vertical-align: middle;display: inline-block;content: '';width: 0;height: 100%;}
.lt_gal li .lt_txt .bo_cate_link{color:#fff;background: #f98c96;font-size:0.92em;padding:3px 5px;margin-bottom:10px;display:inline-block;}
.lt_gal li .lt_txt .lt_tit{display:block;font-size:2em;font-family:'Nanum Gothic',sans-serif;font-weight:bold;line-height:1.3em;margin-bottom:10px}
.lt_gal li .lt_txt .lt_detail{line-height:1.5em;color:#999}
.lt_gal li .lt_txt .more_view{font-size:0.92em;color:#333;font-size:11px;margin-top:10px;display:inline-block;padding:5px 10px;border:2px solid #000}
.lt_gal li .lt_txt .more_view:hover{background:#333;color:#fff}
.lt_gal li .lt_img{width:50%;float:right;}
.lt_gal li .lt_img img {width:100%;height:auto;}
.lt_gal li.empty_list{width:100%;}


@media (min-width: 971px){
    .lt_gal .lt_gal_2 .lt_img,.lt_gal .lt_gal_3 .lt_img{float:left}
    .lt_gal .lt_gal_0 .txt_wr:before,.lt_gal .lt_gal_1 .txt_wr:before{display: block;top: 50%;margin-top:-6px;content: '';position: absolute;left: 100%;width: 25px;height: 12px;border-left: 12px solid #fff;border-top: 12px solid transparent;border-bottom: 12px solid transparent;}
    .lt_gal .lt_gal_2 .txt_wr:before,.lt_gal .lt_gal_3 .txt_wr:before{display: block;top: 50%;margin-top:-6px;content: '';position: absolute;left:0;margin-left:-25px;width: 25px;height: 12px;border-right: 12px solid #fff;border-top: 12px solid transparent;border-bottom: 12px solid transparent;}
}
@media (max-width:  970px){
    .lt_gal li{width:100%}
    .lt_gal .lt_gal_1 .lt_img,.lt_gal .lt_gal_3 .lt_img{float:left;}

    .lt_gal .lt_gal_0 .txt_wr:before,.lt_gal .lt_gal_2 .txt_wr:before{display: block;top: 50%;margin-top:-6px;content: '';position: absolute;left: 100%;width: 25px;height: 12px;border-left: 12px solid #fff;border-top: 12px solid transparent;border-bottom: 12px solid transparent;}
    .lt_gal .lt_gal_1 .txt_wr:before,.lt_gal .lt_gal_3 .txt_wr:before{display: block;top: 50%;margin-top:-6px;content: '';position: absolute;left:0;margin-left:-25px;width: 25px;height: 12px;border-right: 12px solid #fff;border-top: 12px solid transparent;border-bottom: 12px solid transparent;}
}

@media (max-width:  640px){
    .lt_gal li .lt_txt .lt_tit{font-size:1.25em;}
    .lt_gal li .lt_txt .lt_detail{display:none;}
}   

@media (max-width:  540px){
    .lt_gal li .txt_wr_inner{display:inline-block;vertical-align:middle;padding:10px;max-width:140px;font-size:1em}
    .lt_gal li .lt_txt .more_view{display:none}
}